html, body {
  height: 100%;
  font-family: 'Stardos Stencil', serif;
}

body {
  overflow: scroll;
  padding: 0;
  margin: 0;
}

a, a:active, a:visited, a:hover, a:link {
  color: #06f;
  text-decoration: none;
  font-weight: 700;
}

#about-note {
  width: 50%;
  float: right;
}

#about-note h1 {
  font-family: 'Bangers', cursive;
  font-size: 300%;
  margin: 0;
}

#about-note h3 {
  font-size: 100%;
  margin: 0;
}

nav {
  font-family: 'Bangers', cursive;
  
  color: #999;
  background-color: #333;
}

nav a, nav a:link, nav a:active, nav a:hover, nav a:visited {
  color: #999;
}

nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0 .2em;
}

nav li.season {
   margin-bottom: 1em;
}

nav li.current {
  background-color: #0074EE;
  color: white;
}

nav li.current a, nav li.current a:link, nav li.current a:active, nav li.current a:hover, nav li.current a:visited {
  color: white;
}

nav li[data-see-version] {
  display: none;
}

nav li h2, nav li h3 {
  margin: 0;
  padding: 0;
  text-align: right;
}

nav li .what {
  margin-right: .1em;
}

nav li h3 .what {
  opacity: .6;
}

#global-nav {
  position: fixed;
  height: 100%;
}

article.episode {
  float: left;
  width: 40%;
  padding: 0 1em 0 3em;
}

article.episode .info h1 {
  margin-bottom: 0;
}

article.episode .info dl {
  margin-top: 0;
  font-size: 80%;
}

article.episode .info dl dt {
  display: inline;
}

article.episode .info dl dd {
  display: inline;
  margin: 0 1em 0 .3em;
}

article.episode p.action i:only-child {
  font-family: 'Amatic SC', cursive;
  font-size: 140%;
  font-style: normal;
  display: block;
  
  border: 1px solid #06f;
  background: #def;
  padding: .3em;
}

.metadata {
  display: none;
}

#supporting-documents {
  overflow-x: hidden;
}

#supporting-documents article {
  max-width: 50%;
  background-color: #BC8E35;
  background-image: url('../images/brown_paperboard.png');
  padding: 1em;
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 50%;
  
  box-shadow: 0px 0px 5px #333;
  overflow: scroll;
  
  position: absolute;
  top: 0;
  right: 0;
}

#supporting-documents article nav {
  float: right;
  clear: right;
  margin: 1em -1em 0 1em;
}

#supporting-documents article .note.image {
  float: right;
  padding: .3em;
  background: white;
  border: 1px solid #333;
  max-width: 25%;
  
  -webkit-transform: rotate(2deg) translateY(-9px) translateX(5px);
  transform: rotate(2deg) translateY(-9px) translateX(5px);
  box-shadow: 0px 0px 5px #999;
}

#supporting-documents article .note.image img {
  width: 100%;
  max-width: 10em;
}

#supporting-documents article h2 {
  margin: 0;
}

#supporting-documents article .body {
  background-color: #ffc;
  background-image: url('../images/lightpaperfibers.png');
  padding: 1em;
  min-width: 15em;
  min-height: 100%;
  box-shadow: 0px 0px 5px #333;
}

#supporting-documents article .info {
  overflow: scroll;
}

#supporting-documents article .info dt {
  float: left;
  clear: left;
  width: 30%;
}

#supporting-documents article .info dd {
  float: left;
  width: 70%;
  margin-left: 0;
  text-decoration: underline;
}

body > footer {
  float: left;
  opacity: .6;
  margin: 3em 0 1em 3em;
}

body > footer:hover {
  opacity: 1;
}

body > footer .license {
  font-size: 80%;
}

/* From https://gist.github.com/VadimYushchenko/3100662 */
.note {
  position: relative;
  padding: 1.5em 1em 1em 1em;
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,.1) 90%),
    linear-gradient(to right,rgba(255,255,255,.5),rgba(255,255,255,.1) 45%,rgba(255,255,255,.5) 98% ),
    linear-gradient(#fd0,#fd0);
  border: 1px solid rgba(2552,255,255,.1);
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  border-bottom-left-radius: 180px 2px;
  border-bottom-right-radius: 180px 1px;
}

.note::before {
  /* position, size etc... */
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 30px;
  top: -13px;
  left: 25%;
  /* slight shadow because tape has a little depth */
  box-shadow: 0px 0 3px rgba(0,0,0,0.1);
  /* does anyone ever line tape up perfectly? No. */
  transform: rotateZ(2deg);
  /* dashed borders to give the frayed edges */
  border-left: 1px dashed rgba(254, 254, 254, .6);
  border-right: 1px dashed rgba(254, 254, 254, .6);
  /* no piece of tape has ever had perfectly square corners */
  border-top-left-radius: 100px 2px;
  /* as a result of the tugging to cut, tape usually streaches a bit making sections more or less transparent */
  background: linear-gradient(to right,rgba(254, 254, 254, .6),rgba(254, 254, 254, .7),rgba(254, 254, 254, .6));
}
